.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: var(--default-layout-width);
  margin: 0 auto;
  padding: 0 10px;
  .nav-item {
    max-width: calc(100% / 3);
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    &:nth-child(3) {
      justify-content: right;
    }
  }
}
